*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #95E3E4;
}
.social-icons{
    height: 100px;
    width: 50%;
    margin: 100px auto;
    background-color: #95E3E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: auto;
    padding: 30px;
    border:1px solid #73c7c9;
    box-shadow: 4px 4px 5px 2px rgba(0,0,0,.2),-3px -3px 3px 2px rgba(255, 255, 255, 0.3);
    transition: box-shadow .15s ease-in-out;
}
.icon:hover{
    box-shadow: inset 4px 4px 5px 2px rgba(0,0,0,.2);
    transform: translateY(2px);
}
.fab{
    font-size: xx-large;
    color: black;
}
.fa-facebook{
    color: blue;
}