*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'PT Sans', sans-serif; 
}
body{
    background-image: url('images/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    position: relative;
}
.head{
    display: flex;
    position: absolute;
    /* font-family: 'Lobster', cursive; */
    color: white;
    top: 50px;
    left: 100px;
    opacity: 90%;
    font-size: 30px;
    font-weight: 700;
}
.head img{
    position: absolute;
    width: 80px;
    opacity: 20%;
    z-index: -1;
    top: -10px;
    left: -20px;
}

.btn{
    top: 60px;
    right: 100px;
}
button{
    position: absolute;
    padding: .500rem 2rem;
    background-color: rgba(0,0,0, 0);
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}
button:hover{
    background-color: white;
    color: rgba(0, 0, 0, 1);
}

.body{
    position: relative;
}
.text{
    position: absolute;
    color: white;
    top: 300px;
    left: 100px;
    font-family: 'Work Sans', sans-serif;
}
.sm{
    font-size: 20px;
}
.big{
    top: 320px;
    font-size: 100px;
    font-weight: 600;
}

.body button{
    position: absolute;
    top: 600px;
    left: 100px;
}
.sidebar{
    position: absolute;
    background-color: rgba(0,0,0,.2);
    height: 100vh;
    width: 50px;
    top: 0;
    right: 0;
}

.menu img{
    position: absolute;
    width: 25px;
    top: 50px;
    right: 10px;
}
.social{
    position: absolute;
    top: 300px;
    right: 0;
}
.social img{
    position: absolute;
    right: 10px;
    width: 30px;
}
.social1{
    top: 0px
}
.social2{
    top: 40px
}.social3{
    top: 80px
}
.useful{
    position: absolute;
    top: 800px;
    right: 0;
}
.useful img{
    position: absolute;
    right: 10px;
    width: 30px;
}
.useful1{
    top: 0px
}
.useful2{
    top: 40px
}
.animate{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -70px;
}
.animate  img{
    z-index: -1;
    width: 50px;
    animation: bubble 7s linear  infinite  ;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-80vh);
    }
}

.animate img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.animate img:nth-child(2){
    animation-delay: 1.5s;
}
.animate img:nth-child(3){
    animation-delay: 3s;
    width: 35px;
}
.animate img:nth-child(4){
    animation-delay: 1s;
}
.animate img:nth-child(5){
    animation-delay: 1.9s;
}
.animate img:nth-child(6){
    animation-delay: 4.2s;
    width: 30px;
}
.animate img:nth-child(7){
    animation-delay: 1.2s;
    width: 25px;
}
.animate img:nth-child(8){
    animation-delay: 4.9s;
}
